.section-goods {
	height: fit-content;
	display: flex;
}
.user-cards {
	max-width: 90%;
	min-height: 100px;
	gap: 0.25em;
	margin: 1rem auto;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
	margin-top: 1em;
}
.card {
	height: 50px;
	border: 1px solid black;
	padding: 0.5rem;
}
.card-header{
	margin-bottom: .25rem;
}
.card-body{
	font-size: .8rem;
	color: #777;
}
.hide{
	display: none;
}