.header {
	background-color: rgb(33, 89, 116);
	display: flex;
	justify-content: space-between;
	z-index: 100;
}
.telas__logo{
	width: fit-content;
	display: flex;
	align-items: center;
}
.logos__container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: rgb(33, 89, 116);

}
.logos__container button {
	margin: 0 5px;
}
.header__logo{
max-width: 50px;
}
