.header {
	background-color: rgb(33, 89, 116);
	display: flex;
	justify-content: space-between;
	/* z-index: 100; */
}
.telas__logo{
	min-width: none;width: fit-content;
}
.link__logo {
	display:flex;
	font-size: 2em;
	align-items: center;
	color: black;
	font-weight: 500;
}
.header__logo {
	max-width: 65px;
}

/* ------ SEARCH--------- */

.search-wrapper {
	min-width: 50%;
	display: flex;
	align-items: center;
}
#search {
	width: 100%;
	border: none;
	border-radius: 5px;
}
input{
	font-size: 1.5em;
	height: 40px;
}

/* ------- LINKS TO FACEBOOK and so on-------------- */
.logos__container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: rgb(33, 89, 116);
}
.logos__container button {
	margin: 0 5px;
}
